body
h1 {
    color: #ffffff;
    background-color: #00ced1;
}
h1:link {
    color: #ffffff;
}

h1:visited {
    color: #ffffff;
}

h1:hover {
    color: #ffffff;
}

h1:active {
    color: #ffffff;
}
body {
    background-color: #faebd7;
}
